<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.shopify.com/s/files/1/0245/3264/8041/articles/SHOP_HISTORY_GREEKGODS_2019_3X2_8c3fc105-d657-4d58-8e6b-b1e91d29acf1_1200x1200.jpg?v=1558683543);">
  <div class="container">
    <h1>Pray to your favorite <strong> Greek God</strong></h1>
    <span id="banner-typed-text", style="color: white">Change your life Pray for love, luck or even smite your enemies!</span>
    <div class="btn-group">
      <%= link_to "Pray now!", new_prayer_path, class: "button-all", id: "button" %>
      <button type="button" class="dropdown-toggle dropdown-toggle-split button-all" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <%= link_to "prayers!", prayers_path, class: "dropdown-item button-all" %>
      </div>
    </div>
  </div>
</div>